@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap");

.header {
  text-align: center;
}

.messages::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.App h1 {
  margin-bottom: 3vh !important;
  padding: 12px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.messages {
  width: 100vw;
  height: 60vh !important;
  border-radius: 15px;
  margin-top: 5vh !important;
  overflow-y: auto !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grenze Gotisch", cursive;
}
.form_alignment {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.arr {
  color: white !important;
  position: fixed;
  right: 30px;
  top: 50%;
  background: cyan !important;
  padding: 4px 10px;
  border-radius: 10px;
}
.inputField {
  margin: 1px 3px !important;
}
.sendButton {
  margin: 1px 3px !important;
}
.arr:hover {
  cursor: pointer;
}

@media (max-width: 830px) {
  .form_alignment {
    flex-direction: column;
  }
}
@media (max-width: 844) {
  .inputField {
    margin: 1px 0 !important;
  }
  .sendButton {
    margin: 1px !important;
  }
}
